.main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.side-bar {
  width: 230px;
}

.main-content {
  width: 100%;
}
.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 0 24px;
}

.header-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  pointer-events: none;
}